<!DOCTYPE html>
<html>
<head>
    <title>Device Detection</title>
    <meta charset="utf-8">
    <script type='text/javascript' src="http://wurfl.io/wurfl.js"></script>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script>


        $(document).ready(function(){
            $('body').html(WURFL.form_factor+" "+" "+WURFL.complete_device_name+" "+WURFL.is_mobile+" " +WURFL.debug);
        });
    </script>
</head>
<body>
    Хуй


</body>
</html>