<nav class="navbar navbar-fixed-top" role="navigation" style="height: 150px">
    <div class="container-fluid">
        <div class="navbar-header" id="header" style="height: 150px">
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>-->
            <a class="navbar-brand" href="#"><img src="coverme.svg" class="logo" alt="" style="width: 150px; padding: 0px 0px 0px 10px;"/></a>
            <div class="navbar">
                <form class="navbar-form">
                    <div class="form-group" style="display:inline;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="..."  autocomplete="off" spellcheck="false"/>
                            <span class="input-group-addon"><a id="searchButton" class="btn btn-default" type="submit"><span><span class="glyphicon glyphicon-search"></span></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(".form-control").focus();
    </script>

</nav>

