
<nav class="navbar navbar-fixed-top" role="navigation">

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="coverme.svg" class="logo vcenter" alt=""/></a>
        </div>


        <div class="searchForm" style="border: 1px black solid; position: absolute; width: 100%; left: 0; margin: auto; margin-left: 20%; padding-top: 60px">
        <form role="search">

            <div class="bs-example">
                <input type="text" class="typeahead tt-query" autocomplete="off" spellcheck="false">
            </div>


            <input class="input-large" id="searchBox" type="text" placeholder="Search cover"/><!--class="form-control" -->
            <a id="searchButton" class="btn btn-default" type="submit"><span>Search</span></a>

        </form>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <script>
            $('#searchButton').click(function() {
                location.href = this.href + ('/search?q=') + $('#searchBox').val();
                return false;
            });
            $("#searchBox").keypress(function(event){
                if(event.keyCode == 13){
                    event.preventDefault();
                    $("#searchButton").click();
                }
            });
        </script>
    </div>
    <!-- /.container-fluid -->
</nav>