<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container" style="width: 80%; padding-top: 50px !important;">

        <div class="navbar-header" id="header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand hidden-xs fromtop"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
<circle fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" cx="50.186" cy="49.66" r="48.363"></circle>
                    <circle fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" cx="50.724" cy="49.561" r="21.445"></circle>
                    <circle fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" cx="50.406" cy="50.101" r="13.63"></circle>
                    <circle fill="#FFFFFF" cx="50.405" cy="50.101" r="2.858"></circle>
                    <g>
                        <path fill="none" d="M50.578,23.152c-14.808,0-26.854,12.047-26.854,26.854c0,14.807,12.046,26.854,26.854,26.854
		c9.023,0,16.999-4.487,21.874-11.329l-10.994-5.425c-2.758,3.159-6.807,5.168-11.32,5.168c-8.298,0-15.049-6.749-15.049-15.047
		c0-8.299,6.751-15.048,15.049-15.048c4.368,0,8.293,1.881,11.044,4.862l11.269-5.561C67.576,27.637,59.601,23.152,50.578,23.152z"></path>
                        <path fill="none" d="M49.913,11.054c-21.109,0-38.284,17.174-38.284,38.286c0,21.109,17.175,38.284,38.284,38.284
		c13.407,0,25.217-6.931,32.058-17.393l-3.212-1.587c-6.166,9.183-16.645,15.238-28.515,15.238
		c-18.924,0-34.321-15.396-34.321-34.319c0-18.929,15.397-34.325,34.321-34.325c12.155,0,22.847,6.355,28.946,15.913l3.43-1.693
		C75.893,18.432,63.752,11.054,49.913,11.054z"></path>
                        <path fill="none" d="M37.745,50.226c0,6.832,5.559,12.39,12.392,12.39c3.464,0,6.597-1.432,8.847-3.729L40.99,50.004l17.694-8.732
		c-2.227-2.125-5.231-3.441-8.547-3.441C43.304,37.832,37.745,43.391,37.745,50.226z"></path>
                        <path fill="none" d="M50.244,16.565c-18.192,0-32.994,14.804-32.994,32.998c0,18.192,14.802,32.993,32.994,32.993
		c11.349,0,21.374-5.759,27.315-14.504l-3.901-1.924c-5.099,7.279-13.534,12.059-23.081,12.059
		c-15.54,0-28.182-12.643-28.182-28.182s12.642-28.182,28.182-28.182c9.546,0,17.979,4.779,23.08,12.059l4.337-2.14
		C72.114,22.625,61.878,16.565,50.244,16.565z"></path>
                        <path fill="none" d="M50.137,6.187c-23.917,0-43.375,19.457-43.375,43.377c0,23.915,19.458,43.374,43.375,43.374
		c15.442,0,29.017-8.12,36.704-20.303L83.17,70.82c-7.065,10.897-19.328,18.13-33.257,18.13c-21.841,0-39.611-17.767-39.611-39.61
		c0-21.843,17.77-39.615,39.611-39.615c14.358,0,26.954,7.679,33.901,19.145l3.454-1.706C79.662,14.602,65.865,6.187,50.137,6.187z"></path>
                        <path fill="#FFFFFF" d="M50.137,92.938c-23.917,0-43.375-19.459-43.375-43.374c0-23.92,19.458-43.377,43.375-43.377
		c15.729,0,29.525,8.416,37.132,20.978l1.192-0.588c-7.827-13-22.075-21.718-38.324-21.718c-24.649,0-44.704,20.054-44.704,44.705
		c0,24.647,20.055,44.701,44.704,44.701c15.964,0,29.993-8.416,37.901-21.042l-1.197-0.588
		C79.153,84.817,65.579,92.938,50.137,92.938z"></path>
                        <path fill="#FFFFFF" d="M49.913,9.725c-21.841,0-39.611,17.772-39.611,39.615c0,21.843,17.77,39.61,39.611,39.61
		c13.929,0,26.191-7.232,33.257-18.13l-1.199-0.589C75.13,80.693,63.32,87.624,49.913,87.624c-21.109,0-38.284-17.175-38.284-38.284
		c0-21.112,17.175-38.286,38.284-38.286c13.839,0,25.979,7.377,32.707,18.404l1.194-0.589C76.867,17.404,64.271,9.725,49.913,9.725z
		"></path>
                        <path fill="#FFFFFF" d="M50.244,15.239c-18.924,0-34.321,15.396-34.321,34.325c0,18.923,15.397,34.319,34.321,34.319
		c11.87,0,22.349-6.056,28.515-15.238l-1.199-0.592c-5.941,8.745-15.967,14.504-27.315,14.504
		c-18.192,0-32.994-14.801-32.994-32.993c0-18.194,14.802-32.998,32.994-32.998c11.634,0,21.87,6.06,27.75,15.178l1.196-0.591
		C73.091,21.594,62.399,15.239,50.244,15.239z"></path>
                        <path fill="#FFFFFF" d="M50.578,21.824c-15.54,0-28.182,12.642-28.182,28.182s12.642,28.182,28.182,28.182
		c9.546,0,17.982-4.779,23.081-12.059l-1.207-0.599c-4.875,6.842-12.851,11.329-21.874,11.329
		c-14.808,0-26.854-12.047-26.854-26.854c0-14.806,12.046-26.854,26.854-26.854c9.023,0,16.999,4.485,21.872,11.328l1.208-0.597
		C68.557,26.603,60.124,21.824,50.578,21.824z"></path>
                    </g>
</svg>

            </div>

            <div class="navbar-brand visible-xs"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 100 100" enable-background="new 0 0 60 60" xml:space="preserve">
<circle fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" cx="50.186" cy="49.66" r="48.363"></circle>
                    <circle fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" cx="50.724" cy="49.561" r="21.445"></circle>
                    <circle fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" cx="50.406" cy="50.101" r="13.63"></circle>
                    <circle fill="#FFFFFF" cx="50.405" cy="50.101" r="2.858"></circle>
                    <g>
                        <path fill="none" d="M50.578,23.152c-14.808,0-26.854,12.047-26.854,26.854c0,14.807,12.046,26.854,26.854,26.854
		c9.023,0,16.999-4.487,21.874-11.329l-10.994-5.425c-2.758,3.159-6.807,5.168-11.32,5.168c-8.298,0-15.049-6.749-15.049-15.047
		c0-8.299,6.751-15.048,15.049-15.048c4.368,0,8.293,1.881,11.044,4.862l11.269-5.561C67.576,27.637,59.601,23.152,50.578,23.152z"></path>
                        <path fill="none" d="M49.913,11.054c-21.109,0-38.284,17.174-38.284,38.286c0,21.109,17.175,38.284,38.284,38.284
		c13.407,0,25.217-6.931,32.058-17.393l-3.212-1.587c-6.166,9.183-16.645,15.238-28.515,15.238
		c-18.924,0-34.321-15.396-34.321-34.319c0-18.929,15.397-34.325,34.321-34.325c12.155,0,22.847,6.355,28.946,15.913l3.43-1.693
		C75.893,18.432,63.752,11.054,49.913,11.054z"></path>
                        <path fill="none" d="M37.745,50.226c0,6.832,5.559,12.39,12.392,12.39c3.464,0,6.597-1.432,8.847-3.729L40.99,50.004l17.694-8.732
		c-2.227-2.125-5.231-3.441-8.547-3.441C43.304,37.832,37.745,43.391,37.745,50.226z"></path>
                        <path fill="none" d="M50.244,16.565c-18.192,0-32.994,14.804-32.994,32.998c0,18.192,14.802,32.993,32.994,32.993
		c11.349,0,21.374-5.759,27.315-14.504l-3.901-1.924c-5.099,7.279-13.534,12.059-23.081,12.059
		c-15.54,0-28.182-12.643-28.182-28.182s12.642-28.182,28.182-28.182c9.546,0,17.979,4.779,23.08,12.059l4.337-2.14
		C72.114,22.625,61.878,16.565,50.244,16.565z"></path>
                        <path fill="none" d="M50.137,6.187c-23.917,0-43.375,19.457-43.375,43.377c0,23.915,19.458,43.374,43.375,43.374
		c15.442,0,29.017-8.12,36.704-20.303L83.17,70.82c-7.065,10.897-19.328,18.13-33.257,18.13c-21.841,0-39.611-17.767-39.611-39.61
		c0-21.843,17.77-39.615,39.611-39.615c14.358,0,26.954,7.679,33.901,19.145l3.454-1.706C79.662,14.602,65.865,6.187,50.137,6.187z"></path>
                        <path fill="#FFFFFF" d="M50.137,92.938c-23.917,0-43.375-19.459-43.375-43.374c0-23.92,19.458-43.377,43.375-43.377
		c15.729,0,29.525,8.416,37.132,20.978l1.192-0.588c-7.827-13-22.075-21.718-38.324-21.718c-24.649,0-44.704,20.054-44.704,44.705
		c0,24.647,20.055,44.701,44.704,44.701c15.964,0,29.993-8.416,37.901-21.042l-1.197-0.588
		C79.153,84.817,65.579,92.938,50.137,92.938z"></path>
                        <path fill="#FFFFFF" d="M49.913,9.725c-21.841,0-39.611,17.772-39.611,39.615c0,21.843,17.77,39.61,39.611,39.61
		c13.929,0,26.191-7.232,33.257-18.13l-1.199-0.589C75.13,80.693,63.32,87.624,49.913,87.624c-21.109,0-38.284-17.175-38.284-38.284
		c0-21.112,17.175-38.286,38.284-38.286c13.839,0,25.979,7.377,32.707,18.404l1.194-0.589C76.867,17.404,64.271,9.725,49.913,9.725z
		"></path>
                        <path fill="#FFFFFF" d="M50.244,15.239c-18.924,0-34.321,15.396-34.321,34.325c0,18.923,15.397,34.319,34.321,34.319
		c11.87,0,22.349-6.056,28.515-15.238l-1.199-0.592c-5.941,8.745-15.967,14.504-27.315,14.504
		c-18.192,0-32.994-14.801-32.994-32.993c0-18.194,14.802-32.998,32.994-32.998c11.634,0,21.87,6.06,27.75,15.178l1.196-0.591
		C73.091,21.594,62.399,15.239,50.244,15.239z"></path>
                        <path fill="#FFFFFF" d="M50.578,21.824c-15.54,0-28.182,12.642-28.182,28.182s12.642,28.182,28.182,28.182
		c9.546,0,17.982-4.779,23.081-12.059l-1.207-0.599c-4.875,6.842-12.851,11.329-21.874,11.329
		c-14.808,0-26.854-12.047-26.854-26.854c0-14.806,12.046-26.854,26.854-26.854c9.023,0,16.999,4.485,21.872,11.328l1.208-0.597
		C68.557,26.603,60.124,21.824,50.578,21.824z"></path>
                    </g>
</svg>

            </div>

        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">UPLOAD COVER</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">LEGAL SHIT</a></li>
            </ul>

            <div class=".col-xs-12 .col-sm-6 .col-lg-8">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                        <div class="input-group-btn">
                            <button class="btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    <!--<div class="blured"></div>-->
    </div>
</nav>


<!--

<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" id="header">
            <div class="navbar">

                <<div class="navbar-collapse collapse" style="margin-left: 20%; width: 800px;">

                <a class="navbar-brand" href="#"><img src="cvrme.svg" class="logo" alt=""/></a>
                <form class="navbar-form">
                    <div class="form-group" style="display:inline;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="" id="searchBox"  autocomplete="off" spellcheck="false"/>
                            <ul class="nav navbar-nav" style="position: absolute">
                                <li class="active"><a href="#">Upload cover</a></li>
                                <li><a href="#">About us</a></li>
                            </ul>
                                &lt;!&ndash;<a id="searchButton" type="submit">
                                    <span><i class="fa fa-search"></i></span>
                                </a>&ndash;&gt;

                            &lt;!&ndash;<input type="text" class="form-control" placeholder="Search for Covers" id="searchBox" autocomplete="off" spellcheck="false"/>
                            <span class="input-group-addon"><a id="searchButton" class="btn btn-default" type="submit"><span>Search</span></a><span class="glyphicon glyphicon-search"></span>&ndash;&gt;

                        </span>
                        </div>
                    </div>
                </form>

                </div>

            </div>
        </div>
        <div class="blured"></div>
    </div>
</nav>
-->

<script>
    $(document).ready(function(){
        $(".form-control").focus();
        $('#searchButton').click(function() {
            location.href = this.href + ('/search?q=') + $('#searchBox').val();
            return false;
        });
        $("#searchBox").keypress(function(event){
            if(event.keyCode == 13){
                event.preventDefault();
                $("#searchButton").click();
            }
        });
    });
</script>
