

<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" id="header">
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>-->
            <a class="navbar-brand" href="#"><img src="coverme.svg" class="logo" alt="" style="width: 150px; padding: 0px 0px 0px 10px;"/></a>
            <div class="navbar">
                <form class="navbar-form">
                    <div class="form-group" style="display:inline;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="" id="searchBox"  autocomplete="off" spellcheck="false"/>
                            <span class="input-group-addon"><a id="searchButton" class="btn btn-default" type="submit"><span><span class="glyphicon glyphicon-search"></span></a></span>

                            <!--<input type="text" class="form-control" placeholder="Search for Covers" id="searchBox" autocomplete="off" spellcheck="false"/>
                            <span class="input-group-addon"><a id="searchButton" class="btn btn-default" type="submit"><span>Search</span></a><span class="glyphicon glyphicon-search"></span>-->

                        </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>

<script>
    $(document).ready(function(){
        $(".form-control").focus();
        $('#searchButton').click(function() {
            location.href = this.href + ('/search?q=') + $('#searchBox').val();
            return false;
        });
        $("#searchBox").keypress(function(event){
            if(event.keyCode == 13){
                event.preventDefault();
                $("#searchButton").click();
            }
        });
    });
</script>
