<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="coverme.svg" class="logo" alt="" style="width: 80px;"/></a>
        </div>

        <div class="navbar-collapse collapse" id="navbar-collapsible">

            <form class="navbar-form">
                <div class="form-group" style="display:inline;">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    </div>
                </div>
            </form>

        </div>

    </div>
</nav>

<!--

<nav class="navbar navbar-fixed-top" role="navigation">

    <div class="container" id="header">
        &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;

            <a class="navbar-brand" href="#"><img src="coverme.svg" class="logo vcenter" alt=""/></a>
            <div class="searchForm" style="border: 1px black solid">
                <form role="search" id="searchForm">
                    <input class="input-large typeahead tt-query" id="searchBox" type="text" placeholder="Search for Covers"  autocomplete="off" spellcheck="false"/>&lt;!&ndash;class="form-control" &ndash;&gt;
                    <a id="searchButton" class="btn btn-default" type="submit"><span>Search</span></a>

                </form>
            </div>





        &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;

        <script>
            $('#searchButton').click(function() {
                location.href = this.href + ('/search?q=') + $('#searchBox').val();
                return false;
            });
            $("#searchBox").keypress(function(event){
                if(event.keyCode == 13){
                    event.preventDefault();
                    $("#searchButton").click();
                }
            });
        </script>
    </div>
    &lt;!&ndash; /.container-fluid &ndash;&gt;
</nav>-->
