<!DOCTYPE html>
<html>
<head>
    <title><%- body %></title>




    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
    $('li img').on('click',function(){
    var src = $(this).attr('src');
    var img = '<img src="' + src + '" class="img-responsive"/>';

    $('#myModal').modal();
    $('#myModal').on('shown.bs.modal', function(){
    $('#myModal .modal-body').html(img);
    });
    $('#myModal').on('hidden.bs.modal', function(){
    $('#myModal .modal-body').html('');
    });
    });
    })

</script>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
<h1><%- body %></h1>
<p>Хлеб всему <b><%- body %></b></p>



<!--<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</button>-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Download <span class="glyphicon glyphicon-download"></span></button>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <ul class="row">
    <script>
        for(i=1;i<30;i++){
            document.write('<li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><img alt="" src="img/img-'+i+'.jpg" id="'+i+'"></li>');
        }
    </script>
    </ul>
</div>




</body>
</html>