<% for(var i=0; i<cvrs.length; i++) {%>
<img src="<%=cvrs[i]._source.bPicture%>" style="width: 200px"><br>
<span><%=cvrs[i]._source.artist%></span> -
<span><%=cvrs[i]._source.album%></span><br>

<% } %>