<% for(var i=0; i<seqrchresults.length; i++) {%>
<img src="<%=seqrchresults[i]._source.bPicture%>" style="width: 200px"><br>
<span><%=seqrchresults[i]._source.artist%></span> -
<span><%=seqrchresults[i]._source.album%></span><br>

<% } %>