<div class="text-center"  id="pagination">
    <ul class="pagination">
        <li><a href="#">« Previous</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="<%= next %>" class="next"> Next »</a></li>
    </ul>
</div>
