body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 120%;
}

img {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

/*
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}
*/

ul li img {
    cursor: pointer;
}

.col-lg-2, .col-md-2, .col-sm-3, .col-xs-4 {
    padding: 0 !important;
}

#container {
    padding: 0;
    margin: 0;
    width: 100%;
    background: #000;
}
/*#header {
    width: 100%;
    margin: 0;
    height: 107px;
    background: rgba(255, 255, 255, .4);
    border-bottom:1px solid rgba(0, 0, 0, .2);
}*/
.cover-item {
    position: relative;
}
.cover-item figcaption {
    opacity: 0;
    -webkit-transition: opacity .5s ease-in;
    -moz-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
}

.cover-item:hover figcaption {
    opacity: 1;
}

.cover-item:hover {
    z-index: 999;

    overflow: hidden;
    /*
    overflow-x:hidden;
    overflow-y:hidden;
    */
    cursor: pointer;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);

}

/*div.searchForm {
    float: left;
    width: 75%;
}
form#searchForm {
    float: left;
}
#serchButton {
    position: absolute;
    margin-left: -100px;
}*/

figcaption {
    padding: 10px 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 12px;
}

figcaption .album-title {
    font-size: 14px;
}

/*
.navbar-brand a {
    padding: 0;
}

.navbar-brand {
    padding: 0;
}
*/


/*.blured {
    height: 107px;
    z-index: 1000;
    overflow: hidden;
    background: none repeat scroll 0% 0% #FFF;
    left: 0px;
}*/
.blured {
    height: 107px;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom:1px solid rgba(0, 0, 0, .2);
    overflow: hidden;
    z-index: 1000;
    background: #fff;
    left: 0;
}
/*header {
    background: rgba(255, 255, 255, .4);
    height: 88px;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom:1px solid rgba(0, 0, 0, .2);
    z-index: 10000000000;
    display: none;
}*/

/*
.logo {
    width: 150px;
}
*/

.list-group li {
    list-style: none;
    max-width: 750px;
}
.panel-info, .panel-rating, .panel-more1 {
    float: left;
    margin: 0 5px;
    max-width: 750px;
}

h2, small {
    margin:0px;
   /* width: 100px;*/
}


#searchBox {
    /*display: block;
    padding: 30px;
    height: 50px;
    color: #555;
    border: 0;
    border-left: 1px #000;
    border-radius: 0px;
    box-shadow: none;
    box-sizing: border-box;*/
    width: 100% !important;
}

#searchButton {
    color: #34495E;
    background-color: white;
    border-color: white;
}
#searchButton :hover {
    color: #59ABE3;
    background-color: white;
    border-color: white;
}

/*#searchButton .fa {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
}*/

.twitter-typeahead {
    width: 30%
}

.container-fluid {
    margin: 0;
    padding: 0
}

/*.navbar form {
    float: left;
    position: relative;
    width: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}*/

/*#searchButton {
    position: absolute;
    top: 50%;
    right: 0;

}*/

.vert-sep {
    width: 2px;
    background: #000
}


.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    width: 150px !important;
}

/*
* {
    box-sizing: content-box !important;
}
*/
/*.navbar-form {
    padding: 0px;
}*/

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background: transparent;
    border: 0;
    border-radius:0px;
}

.form-control, .form-control:focus, .tt-hint {
     display: block;
     width: 100%;
     padding: 8px;
     font-size: 14px;
     color: #555;
     background: transparent;
     border: 1px solid white;
     border-radius: 0;
     box-shadow: none;
     transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
 }

.input-group-addon, .input-group-btn {
    width: 3%;
    white-space: nowrap;
    vertical-align: middle;
}

.navbar-form .input-group > .form-control {
    width: 90%;
}

.navbar-form {
    margin: 0px -15px;
    border: 1px solid transparent;
    /*box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset, 0px 1px 0px rgba(255, 255, 255, 0.1);*/
}

#myModal .modal-content {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 !important;
    box-shadow: 0 !important;
}

.main-cover {
/*    width: 600px;
    height: 600px;*/
}

#canvas {
    opacity:1;
    z-index: 100;
    position: absolute;
    display: block;
    top: 3px;
}

.input-group {
    width: 100%;
}
.cover-item {

}
