body {
  padding: 0;
  margin: 0;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  line-height: 120%;
}

img {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

h1{
    font-family: 'Open Sans', sans-serif; !important;
    color: #1fe0a0;
    letter-spacing: 2pt;
    font-weight: 100;
}


.centered{
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
    display: block
}
ul li:hover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);;
}

ul li img {
    cursor: pointer;
}

.col-lg-2, .col-md-2, .col-sm-3, .col-xs-4 {
    padding: 0 !important;
}

#container {
    padding: 0;
    margin: 135px 0 auto;
    width: 100%;
}

@media screen and (max-width: 768px) {
    #container { margin: 75px 0 auto; }
}

.navbar{
    height: 135px !important;
}

@media screen and (max-width: 768px) {
.navbar{
    height: 75px !important;
}
}

.container {
}
/*
#header {
    width: 100%;
    margin: 0;
    height: 107px;
    background: rgba(255, 255, 255, .4);
    border-bottom:1px solid rgba(0, 0, 0, .2);

}*/
.cover-item {
    position: relative;
}
.cover-item figcaption {
    opacity: 0;
    -webkit-transition: opacity .5s ease-in;
    -moz-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
}

.cover-item:hover figcaption {
    opacity: 1;
}

.cover-item:hover {
    z-index: 999;
    overflow: hidden;
    cursor: pointer;
}


/*div.searchForm {
    float: left;
    width: 75%;
}
form#searchForm {
    float: left;
}
#serchButton {
    position: absolute;
    margin-left: -100px;
}*/

figcaption {
    padding: 10px 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 12px;
}

figcaption .album-title {
    font-size: 14px;
}

/*
.navbar-brand a {
    padding: 0;
}

.navbar-brand {
    padding: 0;
}
*/
/*.navbar-header {
    position: fixed;
    width: 80%;
    top: 0;
    border-bottom:1px solid rgba(0, 0, 0, .2);
    z-index: 1020;
    display: none;
}*/

/*.blured {
    height: 107px;
    z-index: 1000;
    overflow: hidden;
    background: none repeat scroll 0% 0% #FFF;
    left: 0px;
}*/


/*
.logo {
    width: 150px;
}
*/

.list-group li {
    list-style: none;
    max-width: 750px;
}

.panel {
    margin-bottom: 0;
    background-color: #FFF;
    border: 0 solid transparent;
    border-bottom: 1px solid #DDD;
    border-radius: 0;
    box-shadow: none;
}
/*#search > .panel:last-child{
    border-bottom: 0 !important;
}*/
.panel-body {
    padding: 15px 0;
}
.panel-info, .panel-rating, .panel-more {
    float: left;
    margin: 0;
    max-width: 750px;
}
.panel-info > h4 {
    margin: 0;
}
.panel-info {
    margin-left: 15px;
}
h2, small {
    margin:0;
}
#searchButton {
    padding: 10px 20px;
    background: none;
    color: #aaa;
    font-size: 18px;
    line-height: 1;
    border-radius: 50px;
}
#searchButton {
    color: #34495E;
}
#searchButton :hover {
    opacity: 0.5;
}

/*#searchButton .fa {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
}*/

.twitter-typeahead {
    width: 90%;
}

.container-fluid {
    margin: 0;
    padding: 0
}

/*.navbar form {
    float: left;
    position: relative;
    width: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}*/

/*#searchButton {
    position: absolute;
    top: 50%;
    right: 0;

}*/

.vert-sep {
    width: 2px;
    background: #000
}


.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    width: 150px !important;
}

/*
* {
    box-sizing: content-box !important;
}
*/
/*.navbar-form {
    padding: 0px;
}*/

/*.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background: transparent;
    border: 0;
    border-radius:0px;
}

.form-control, .form-control:focus, .tt-hint {
     display: block;
     width: 100%;
     padding: 8px;
     font-size: 14px;
     color: #555;
     background: transparent;
     border: 1px solid white;
     border-radius: 0;
     box-shadow: none;
     transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
 }

.input-group-addon, .input-group-btn {
    width: 3%;
    white-space: nowrap;
    vertical-align: middle;
}

.navbar-form .input-group > .form-control {
    width: 90%;
}

.navbar-form {
    margin: 0px -15px;
    border: 1px solid transparent;
    *//*box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset, 0px 1px 0px rgba(255, 255, 255, 0.1);*//*
}*/

#myModal .modal-content {
    border: 0;
    border-radius: 0 !important;
    box-shadow: 0 !important;
}

.main-cover {
/*    width: 600px;
    height: 600px;*/
}

#canvas {
    opacity:1;
    z-index: 100;
    position: absolute;
    display: block;
    top: 3px;
}


/*-------------------------------------NAVBAR CSS START-------------------------------------*/
.onblur{
    position: fixed;
    z-index: 1020;
}

nav {
    background: rgba(255, 255, 255, .4);
    /*border-bottom:1px solid rgba(0, 0, 0, .5);*/
}

#logo svg {
    fill: pink !important;
}
.form-control
{
    border-radius: 0px;
    border: 0px;
    background: none;
    /*height:50px;*/
    margin-left: 10px;
    outline: none;
    width:90% !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-    input:focus {
    border: none;
    box-shadow: none;
    color: white;
    outline: -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color none;
}

a:link {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.navbar-nav{
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    /*position: absolute;*/
}

.nav a{
    /*color: white;*/
    color: #AAA;
}
#logo {
    fill: #aaa !important;
}


.nav a:hover{
    background-color: transparent ! important;
    opacity: 0.5 ! important;
    /*position: absolute;*/
}

#searchBox, .tt-hint {
    margin: 0;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 20px;
    height: 45px;
    border: 0px none transparent;
    width: 100%;
    margin-left: 10px;

}

/*.fromtop{
    margin-top: -40px;
}*/

.input-group{

    /* was white */
    border-right:1px solid #aaa;
    border-top:1px solid #aaa;
    border-bottom:1px solid #aaa;
    height: 50px;
    left: -7px;
    margin-top: 25px;
    border-radius: 0px 50px 50px 0px;

}


/*
.collapsing, .in ul li a {color: #555 !important; }
.collapsing, .in ul li a:hover {color: #f1f1f1 !important;}
.collapsing, .in .input-group {position:relative; width:100%; margin-left: 0; margin-top:0;}
.collapsing, .in .navbar-nav {margin-left: 0; margin-top:0;}
*/


.visible-xs{
    margin-top:-50px;
    padding-bottom: 5px;
}

.navbar-toggle
{
    border: 1px solid white;
    border-radius: 0;
    padding: 0;

}

/*.blured {
    height: 135px;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom:1px solid rgba(0, 0, 0, .2);
    overflow: hidden;
    z-index: 1000;
    background: #fff;
    left: 0;
    -webkit-transition: height .35s ease;
    -moz-transition: height .35s ease;
    -ms-transition: height .35s ease;
    -o-transition: height .35s ease;
    transition: height .35s ease;
}*/
#header {
    height: 135px;
    position: fixed;
    width: 100%;
    /*padding-top: 25px;*/
    z-index: 10000000000;
    display: none;
    -webkit-transition: height .35s ease;
    -moz-transition: height .35s ease;
    -ms-transition: height .35s ease;
    -o-transition: height .35s ease;
    transition: height .35s ease;
}

.tt-dropdown-menu {
    border: 0px !important;
    border-radius: 0px !important;
    /*box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);*/
    width: 350px !important;
}

.tt-suggestion.tt-is-under-cursor {
    background-color: #ededed !important;
    color: #333 !important;
}

.navbar-fixed-top {
    /*background-color: lightseagreen !important;
    z-index: auto;*/
    /*height:135px;*/
}
.navbar-brand {
    padding: 0;
    height: auto;
}

.navbar-toggle {
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.3s;
}
.collapsed {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#header {
    /*width: 100%;*/
    background: rgba(255, 255, 255, .4);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
#header .container {
    width: 60%;
    position: relative;
    /*overflow: hidden;*/
    padding: 10px 0 0;
}

svg {
    display: block;
}

.navbar-form {

    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.navbar-nav {
    margin: 0px auto;
    width: 460px;
    display: block;
    text-align: center;
    float: none;
}
@media only screen and (max-width: 767px) {

    /*.blured {
        height: 75px;
    }*/

    #header {
        height: 75px;
        margin-top: 0px;
    }

    #header .container {
        padding: 5px 0 0;
        width: 80% !important;
    }

    .input-group {
        height: 30px;
        opacity: 1;
        left: -5px;
        margin-top: 15px;
        -webkit-transition: opacity .35s ease;
        -moz-transition: opacity .35s ease;
        -ms-transition: opacity .35s ease;
        -o-transition: opacity .35s ease;
        transition: opacity .35s ease;
    }
    #toggle.collapsed + .input-group {
        opacity: 0;

    }

    #searchBox, .tt-hint {
        margin: 0;
        padding: 3px 6px;
        font-size: 14px;
        line-height: 18px;
        height: 25px;
        border: 0 none transparent;
        width: 100%;
        margin-left: 10px;

    }

    .navbar-collapse {
        padding: 0 !important;
        border-top: 0 solid transparent !important;
        box-shadow: none !important;
        width: 100% !important;
        margin: 10px 0 0 !important;

    }

    .navbar-nav {
        width: 250px !important;
        position: relative;
    }
    .navbar-nav > li {
        display: block !important;
    }
   /* .navbar-nav > li > a:before {
*//*        content: "";
        height: 1px;
        width: 30px;
        background: #fff;*//*

        position: absolute;
        content: "";
        border-right: 5px solid transparent;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(255,255,255,0.5) transparent transparent;
        border-image: none;
        cursor: pointer;
        margin-top: 0px;
        top: 50%;
        margin-left: 0;
        width: 50px;
    }*/

}

.navbar-nav > li {
    float: none;
    display: inline-block;
    /*color: darkturquoise;*/
}
/*-------------------------------------NAVBAR CSS END-------------------------------------*/

/*
.modal-content {
    background-color: rgba(255,255,255,0.7) ;
}*/

/*-------------------------------------MODAL CSS START-------------------------------------*/
.modal-body {
    padding: 0px;
}

.modal-footer {
    margin-top: 0px;
    text-align: center;
    border-top: none;
    padding: 0px;

    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12pt;
    font-weight: 100 !important;
}

.buttonsstyle {
    color: white;
    font-family: 'Open Sans';
    text-decoration: none;
    user-select: none;
    outline: none;
    display: inline-block;
    /*border-radius: 3px;
    /*background: rgb(64,199,129);
    box-shadow: 0 2px rgb(53,167,110);*/
    /*box-shadow: 0 2px #0093c4;*/
    background: #33CC99;
    transition: all 0.5s ease 0s;
    padding: 20px 30px;
    width: 100%;
    height: 60px;
}

.buttonsstyle:hover {
    background: #1fe0a0;
}

.buttonsstyle:active {
    position: relative;
    top: 1px;
}

a:hover, a:focus {
    color: white;
    text-decoration: none;
}
