body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 120%;
}

img {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}

ul li img {
    cursor: pointer;
}

.col-lg-2, .col-md-2, .col-sm-3, .col-xs-4 {
    padding: 0 !important;
}

.container {
    padding: 0;
    margin: 150px 0 0;
    width: 100%;
    background: #000;
}


.cover-item {
    position: relative;
}
.cover-item figcaption {
    opacity: 0;
    -webkit-transition: opacity .5s ease-in;
    -moz-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
}

.cover-item:hover figcaption {
    opacity: 1;
}

.cover-item:hover {
/*    box-shadow: 0 0 10px rgb(255,255,255);*/

}


figcaption {
    padding: 10px 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 12px;
}

figcaption .album-title {
    font-size: 14px;
}

.navbar {
    background: #fff;
    padding-top: 30px;
    box-sizing: border-box;
}

.navbar-brand a {
    padding: 0;
}

.navbar-brand {
    padding: 0 0 0 50px;
    float: left;

}

.navbar-header {
    height: 150px;
    overflow: hidden;
}


.logo {
    width: 100px;
}

#searchBox {
    display: block;
    padding: 30px;
    height: 100px;
    color: #555;
    border: 0;
    border-left: 1px #000;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    box-sizing: border-box;

}
.container-fluid {
    margin: 0;
    padding: 0
}

.navbar form {
    float: left;
    position: relative;
    width: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#searchButton {
    position: absolute;
    top: 50%;
    right: 0;

}

.vert-sep {
    width: 2px;
    background: #000
}

.navbar-header {
    width: 150px !important;
}